[delta]
    syntax-theme = Visual Studio Dark+
    side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
